html {
  scroll-behavior: smooth;
} 

.heading{
    text-transform: uppercase;
    font-size: 80px;
    margin-bottom: 45px;
    text-align: center;
    font-weight: 700;
}

.heading-white{
    color: #fff;
}

.heading-black{
    color: #464b4f;
}

.container{
    max-width: 940px;
}

.col-lg-4{
    padding-right: 5px;
    padding-left: 5px;
}

/* HEADER section */

.hero{
    background: #23232e;
    text-align: center;
    color: #fff;
    font-family: Segoe UI;
}
.hero .logo{
    margin-top: 80px;
    margin-bottom: 105px;
}

.hero .subheading{
    width: 450px;
    margin: auto;
    font-size: 18px;
    line-height: 30px;
}

.hero .scroll-down{
    color: #fff;
    text-decoration: none;
    margin-top: 180px;
    display: inline-block;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 50%;
    vertical-align: middle;
    padding: 10px 14px;
    margin-bottom: 50px;
    transform: 1s;
}


/* ABOUT section */


.about{
    background: url(image/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
}

.about .info{
    max-width: 870px;
}

.about .info p{
    line-height: 42px;
    margin-bottom: 42px;
    font-size: 30px;
}

.about .info-box h4{
    color: #464b4f;
    font-size: 18px;
    line-height: 42px;
    font-weight: 700;
}

.about .info-box p{
    color: #888a8b;
    font-size: 18px;
    line-height: 30px;
}


/* WORK section */


.work{
    background: #23232e;
    text-align: center;
    color: #fff;
    padding: 100px 0;
}

.work .heading-area ul .active {
    border-bottom: 2px solid #818baa;
}

.work .heading-area ul li a {
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
}

.work .row .box {
    margin-top: 10px;
    margin-bottom: 20px;
}

.work .row .info-title {
    font-size: 21px;
}

.work .row .info-content {
    font-size: 14px;
    color: #818baa;
}

.work .button input {
    background: #7b77c9;
    color: #fff;
    margin-top: 60px;
    font-size: 18px;
    width: 210px;
    height: 60px;
    border: 0;
    border-radius: 5px;
}



/* PHOTOGRAPHY section */

.photography {
    background: url(image/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0;
    text-align: center;
}

.photography .heading-area {
    text-align: center;
}

.photography .heading-area .text-area{
    font-size: 30px;
    width: 85%;
    margin: auto;
    margin-bottom: 50px;
}

.photography .row .box {
    margin: 7px;
}

.photography .button input {
    background: #7b77c9;
    color: #fff;
    margin-top: 80px;
    margin-bottom: 30px;
    font-size: 18px;
    width: 210px;
    height: 60px;
    border: 0;
    border-radius: 5px;
}


/* FOOTER section */

.footer {
    background: #23232e;
    text-align: center;
    color: #fff;
    padding: 200px 0;
}

.footer .text-area p{
    font-size: 18px;
    width: 50%;
    margin: 60px auto;
}

.footer .subscribe input[type='text'] {
    width: 350px;
    padding: 10px 10px;
    border: none;
    border-radius: 3px;
}

.footer .subscribe input[type='submit'] {
    background: #7b77c9;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 50px;
    margin-left: 5px;
}



/* SUB-FOOTER section */

.sub-footer {
    background: url('image/background.png');
    padding: 100px 0;
}

.sub-footer ul li a {
    color: #dbdbdb;
    font-size: 32px;
}